@import "tailwindcss";

@source "../index.html";
@source "./**/*.rs";

@theme {
    --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
    --color-primary: #FF9B51;
    --color-secondary: #EAEFEF;
    --color-accent: #BFC9D1;
    --color-ink: #262626;
}

@layer base {
    @font-face {
        font-family: "Space Grotesk";
        src: url("/assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
        font-weight: 300 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "DIN";
        src: url("/assets/fonts/DIN/DIN Regular/DIN Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "DIN";
        src: url("/assets/fonts/DIN/DIN Medium/DIN Medium.otf") format("opentype");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "DIN";
        src: url("/assets/fonts/DIN/DIN Bold/DIN Bold.otf") format("opentype");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    body {
        font-family: var(--font-sans);
    }
}
